# Workflow to build statically linked MUSL based release binaries

name: Build and Release Binaries

# This workflow runs when a new GitHub Release is created.
on:
  release:
    types: [created]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-and-release:
    name: Build for ${{ matrix.target }}
    # for list of options see https://docs.github.com/de/actions/reference/workflows-and-actions/workflow-syntax#jobsjob_idruns-on
    runs-on: ubuntu-latest
    
    # We use a build matrix to build for both architectures
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-musl

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        run: |
          sudo apt update
          sudo apt install -y clang mold
          rustup target add ${{ matrix.target }}

      - name: Build binary
        run: cargo build --release --target ${{ matrix.target }}

      - name: Prepare binary for upload
        id: prepare_binary
        run: |
          export bin_name="cobertura_split"
          export bin_path="target/${{ matrix.target }}/release/${bin_name}"
          export asset_name="${bin_name}-${{ matrix.target }}"
          mv "${bin_path}" "${asset_name}"
          echo "ASSET_PATH=./${asset_name}" >> $GITHUB_ENV
          echo "ASSET_NAME=${asset_name}" >> $GITHUB_ENV
          export bin_name="lcov2xml"
          export bin_path="target/${{ matrix.target }}/release/${bin_name}"
          export asset_name="${bin_name}-${{ matrix.target }}"
          mv "${bin_path}" "${asset_name}"
          echo "ASSET2_PATH=./${asset_name}" >> $GITHUB_ENV
          echo "ASSET2_NAME=${asset_name}" >> $GITHUB_ENV

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            ${{ env.ASSET_PATH }}
            ${{ env.ASSET2_PATH }}
